@model ToDoItem
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HoneyDo</title>
    <link href="~/css/site.css" rel="stylesheet" type="text/css">
</head>

<body>
    <nav>
        <div class="container">
            <a asp-action="HomeIndex" asp-controller="Home">HoneyDo</a>
            <a asp-action="GettingStarted" asp-controller="Learning">Getting Started</a>
            <a class="currentPage" asp-action="Index" asp-controller="ToDoList">To Do List</a>
        </div>
    </nav>
    <h1 class="MainHead">To Do List</h1>
    <h3 class="MainHead">🐝 @Model.Title</h3>
    <br />
    <br />
    <h3>Description:</h3>
    <p>@Model.Description</p>
    <h3>Is Completed:</h3>
    @if (Model.Completed) { <p>Yes</p>} else { <p>No</p>}

</body>
</html>