
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HoneyDo</title>
    <link href="~/css/site.css" rel="stylesheet" type="text/css">
</head>

<body>
    <nav>
        <div class="container">
            <a class="currentPage" asp-action="HomeIndex" asp-controller="Home">HoneyDo</a>
            <a asp-action="GettingStarted" asp-controller="Learning">Getting Started</a>
            <a asp-action="Index" asp-controller="ToDoList">To Do List</a>
        </div>
    </nav>
    <h1 class="MainHead">Welcome to HoneyDo</h1>
    <h3 class="MainHead">A site devoted to becoming a hobby apiarist!</h3>
    <br />
    <br />
    <p>Honey Bees are amazing insects and pollinators that help keep your local environment healthy and thriving. Without their preservation it's likely the entire World would face serious detrimental effects. For example, bees account for up to 90% of the pollination of blue-berries and cherries! Given the current circumstances Bees face with possible extinction due to Colony Collapse Disorder it is in everyone's best interest if more hobby Bee Keepers start and protect their own hives! Fortunately, CCD occurance is declining but that doesn't mean we can't give Bees the boost they give us!<br /><br />Also, free honey!<br /></p>
    <p>Join me on the journey to learning all about how and why you should become an Apiarist in your spare time!</p>
</body>
</html>
